**/.vs
.vscode
*/bin
*/obj
*.nupkg
.idea
__pycache__
requirements.lock
/helm/*/charts/*.tgz

output/
temp/
PWD.env
private.env
docker-compose.build.*.yml
docker-compose.run.*.yml
docker-compose.test.*.yml
docker-compose.publish.*.yml